streamlit>=1.28
langchain>=0.0.217
openai>=1.2
duckduckgo-search
anthropic>=0.3.0
trubrics>=1.4.3
litellm
streamlit-feedback
langchain-community
google-genai
docstring_parser
pymongo[srv]
loguru==0.7.3
langchain-mongodb==0.6.1
markdown==3.8
langchain-huggingface==0.1.2
langgraph==0.3.31
opik==1.7.11
datasketch==1.6.5
langgraph-checkpoint==2.0.24
langgraph-checkpoint-mongodb==0.1.3